<div class="container">
  <form action="form">
  <div class="navbar">
    <div class="h3">Add a new Post</div>
    <button mat-stroked-button type="post"> Post! </button>
  </div>
      <mat-form-field class="full-width">
        <mat-label>Add your thoughts</mat-label>
        <textarea matInput  placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>#</mat-label>
        <input matInput placeholder="#" value="">
      </mat-form-field>
      <br>
      <button type="button" mat-button color="accent">Add Image</button>
    </form>
</div>