.div_2 {
  overflow: hidden;
  background-color: gray;
}

.div_2 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.div_2 a:hover {
  background-color: #ddd;
  color: black;
}

.div_2 a.active {
  background-color: #eff31f;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}
