.page {
  display: flex;
  height: 100%;
}

.left {
  background-color: #057;
  padding: 0em 2em;
  width: 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

mat-icon,
h1,
p {
  color: white
}

p {
  text-align: justify;
}

/* picture on the right */
.picture {
  width: 100%;
  height: 100%;
}
