
  <div class="column1" style="background-color:lightblue;padding-left:3%;">
    <h1>Create new account</h1>
    <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" style="width:300px">
      </div>


      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" style="width:300px">
      </div>
      
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" style="width:300px">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" style="width:300px">
      </div>
      
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" style="width:300px">
      </div>
      
  
      <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
  
  </div>

  <div class="column2"> 
       
    <img  class="picture" src="assets/coverp.jpg" alt="Photo of graph">

  </div>    
