.spacer {
    flex: 1 1 auto;
}


section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 100%;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .mat-toolbar {
    background: #159B32;
    color: #fff;
}
/*.example-container {
  background-color: #ffffff;
  width: 99.5%;
  height: 1000px;
  margin: 10px;
  border: 1px solid  #f3e9e9;
} 
.mat-drawer-side {
  border-right: solid 80px rgba(255, 255, 255, 0.178);
}*/