<mat-toolbar class="d-flex justify-content-between">
  <span>
    <mat-icon>eco</mat-icon> Travel Stories
  </span>

  <div class="example-button-row  d-none d-sm-block" *ngIf="isAuthenticated">
    <div class="d-flex flex-lg-row flex-container">
      <button mat-icon-button aria-label="Button with a home icon" (click)="navigateToHomePage()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button aria-label="Button with a search icon" [routerLink]="['/search']">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Button with a add photos icon" (click)="addPost()">
        <mat-icon>add_to_photos</mat-icon>
      </button>
      <button mat-icon-button aria-label="Button with a notifications icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button aria-label="Button with a account box icon" (click)="navigateToProfilePage()">
        <mat-icon>account_box</mat-icon>
      </button>
    </div>
  </div>
  <div class="auth">
    <a mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</a>
    <a mat-button routerLink="/register" *ngIf="!isAuthenticated">Signup</a>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</div>
</mat-toolbar>
