<app-header></app-header>
<div class="bounds">
  <div class="content" fxLayout="row " fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex class="sec1" fxFlex.xs="55">
      <app-trending></app-trending>
    </div>
    <div fxFlex="50" class="container1 sec2">
      <div *ngIf="flag==='profile'" class="profile">
        <div class="pic-container">
          <mat-icon (click)="onClick($event)" class="edit">edit</mat-icon>
          <img class="cover-photo" src="{{ coverPhoto }}" alt="" />
        </div>
        <div class="pic-container1">
          <mat-icon (click)="onClick($event)" class="edit-profile">edit</mat-icon>
          <img class="profile-photo" src="{{ profilePhoto }}" alt="" />
        </div>
      </div>
      <div class="posts">
        <div *ngFor="let post of post$ | async; trackBy: trackById">
          <div *ngIf="flag==='profile';else all">
            <mat-card *ngIf="post.username=='smelly-cat'" class="example-card">
              <mat-card-header>
                <div mat-card-avatar>
                  <img class="display-picture" src={{userService.getProfilePic(post.username)}}>
                </div>
                <mat-card-title>{{ userService.getName(post.username) }}</mat-card-title>
                <mat-card-subtitle>{{ post.username }}</mat-card-subtitle>
              </mat-card-header>
              <img *ngIf="post.photos" mat-card-image src={{post.photos}} class="post-img" />
              <mat-card-content>
                <b> {{ post.title }} </b>
                <p *ngIf="post.body[0].length>100;else elseBlock ">
                  {{ post.body[0].substring(0,100)}}...
                </p>
                <ng-template #elseBlock>
                  <p>{{post.body[0]}}</p>
                </ng-template>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>
                  <mat-icon>thumb_up</mat-icon>LIKE
                </button>
                <button mat-button>
                  <mat-icon>autorenew</mat-icon>SHARE
                </button>
                <a [routerLink]="['/post', post.id, post.slug]" style="float: right;" mat-flat-button color=accent>Read
                  More</a>
              </mat-card-actions>
            </mat-card>
          </div>
          <ng-template #all>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar>
                  <img class="display-picture" src={{userService.getProfilePic(post.username)}}>
                </div>
                <mat-card-title>{{ userService.getName(post.username) }}</mat-card-title>
                <mat-card-subtitle>{{ post.username }}</mat-card-subtitle>
              </mat-card-header>
              <img *ngIf="post.photos" mat-card-image src={{post.photos}} class="post-img" />
              <mat-card-content>
                <b> {{ post.title }} </b>
                <p *ngIf="post.body[0].length>100;else elseBlock ">
                  {{ post.body[0].substring(0,100)}}...
                </p>
                <ng-template #elseBlock>
                  <p>{{post.body[0]}}</p>
                </ng-template>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>
                  <mat-icon>thumb_up</mat-icon>LIKE
                </button>
                <button mat-button>
                  <mat-icon>autorenew</mat-icon>SHARE
                </button>
                <a [routerLink]="['/post', post.id, post.slug]" style="float: right;" mat-flat-button color=accent>Read
                  More</a>
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Will be used to when we change the profile/cover photo on profile page -->
    <input #fileUpload type="file" class="input_fileupload--hidden" accept="image/*"
      (change)="onFileSelected(fileUpload.files[0])">
    <div fxFlex class="sec3">
      <app-to-follow [title]="'What\'s Happening'"></app-to-follow>
      <br>
      <app-to-follow [title]="'Who To Follow'"></app-to-follow>
    </div>
  </div>
</div>
