<div class="container1">
  <div *ngIf="flag==='profile'" class="profile">
    <div class="pic-container">
      <mat-icon (click)="onClick($event)" class="edit">edit</mat-icon>
      <img class="cover-photo" src="{{ coverPhoto }}" alt="" />
    </div>
    <div class="pic-container1">
      <mat-icon (click)="onClick($event)" class="edit-profile">edit</mat-icon>
      <img class="profile-photo" src="{{ profilePhoto }}" alt="" />
    </div>
  </div>
  <div class="posts">
    <div *ngFor="let post of post$ | async; trackBy: trackById">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ post.name }}</mat-card-title>
          <mat-card-subtitle>{{ post.username }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/user/photo1.jpg" alt="Photo of a Shiba Inu" />
        <mat-card-content>
          <b> {{ post.title }} </b>
          <p>
            {{ post.slug }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>thumb_up</mat-icon>LIKE
          </button>
          <button mat-button>
            <mat-icon>autorenew</mat-icon>SHARE
          </button>
          <a [routerLink]="['/post', post.id, post.slug]" style="float: right;">Read More</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<input #fileUpload type="file" class="input_fileupload--hidden" accept="image/*"
  (change)="onFileSelected(fileUpload.files[0])">
