<mat-toolbar>
    <span>
        <mat-icon>eco</mat-icon> Travel Stories
    </span>

    <div class="example-button-row">
        <div class="example-flex-container">
            <button mat-icon-button aria-label="Button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button aria-label="Button with a search icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button aria-label="Button with a add photos icon">
                <mat-icon>add_to_photos</mat-icon>
            </button>
            <button mat-icon-button aria-label="Button with a notifications icon">
                <mat-icon>notifications_none</mat-icon>
            </button>
            <button mat-icon-button aria-label="Button with a account box icon">
                <mat-icon>account_box</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>