<div >
    <form class="container">
    <input class="center" type="text" placeholder="Search..">
    <mat-form-field  class="filter" >
    <mat-label id="filter">Filter</mat-label>
        <mat-select [(value)]="selectedvalue">
          <mat-option>None</mat-option>
      <mat-option value="People">People</mat-option>
      <mat-option value="Places">Places</mat-option>
      <mat-option value="#"># tag</mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-button type="submit">Search</button>
  </form>
  </div>
  {{selectedvalue}}
<!-- <div class="container1">
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <mat-select [(value)]="selectedvalue">
      <mat-option>None</mat-option>
      <mat-option value="People">People</mat-option>
      <mat-option value="Places">Places</mat-option>
      <mat-option value="#">#</mat-option>
    </mat-select>
  </mat-form-field>
  <input class="center" type="text" placeholder="Search..">
  <button mat-button>Search</button>
</div>
{{selectedvalue}} -->

