.search-container {
  // background-color: hsl(190, 84%, 81%);
  background-color: #074869;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  //background-color: black;
  color: white;
}
.filter {
  color: white;
}

button:hover {
  background:#012030 ;
}

button {
  background-color: darkslategrey;
  height: 50px;
  width: 100px;
  margin-top: -1.5em;
}
